* {
    padding: 0;
    margin: 0;
}
.main-center {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
}
.content-no-telegram {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-no-telegram p {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
    color: white;
}
.content-no-telegram a {
    color: #fff;
    font-size: 24px;
}
a {
    text-decoration: none;
}
body {
    background-color: black;
    height: 100%;
    width: 100%;
    text-align: center;
}
#unity-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 1920px; 
    touch-action: none;
    cursor: inherit;
}
#viewContent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 1920px;
}
